.list-item {
    background-color: transparent;
    font-size: 12px;
    flex: 1;

    .item {
        padding-left: 24px;
        padding-right: 16px;
        margin: 4px 0;
        color: #fff;
        display: flex;
        align-items: center;
        position: relative;
        white-space: nowrap;
        cursor: pointer;
        height: 64px !important;

        &:hover{
            background-color: rgba(0, 0, 0, 0.3);
        }

        .title {
            flex: auto;
            min-width: 0;
            overflow: hidden;
            text-overflow: ellipsis;
            margin-inline-start: 10px;
            opacity: 1;
            transition: opacity 0.3s cubic-bezier(0.645, 0.045, 0.355, 1), margin 0.3s, color 0.3s;
        }
    }

    .active {
        background-color: rgba(0, 0, 0, 0.3) !important;
    }
}
