.group-filter {
    position: absolute;
    right: 0;
    top: 35px;
    background-color: #ffffff;
    background-clip: padding-box;
    border-radius: 8px;
    box-shadow: 0 6px 16px 0 rgba(0, 0, 0, 0.08), 0 3px 6px -4px rgba(0, 0, 0, 0.12),
        0 9px 28px 8px rgba(0, 0, 0, 0.05);
    padding: 12px;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.88);
    min-width: 500px;

    .header-filter {
        font-size: 14px;
        margin-bottom: 12px;
    }

    .list-location {
        display: flex;
        flex-direction: column;
        gap: 8px;

        .location {
            display: flex;
            align-items: center;
            gap: 8px;

            label {
                cursor: pointer;
            }
        }
    }

    .divide {
        margin: 12px 0;
        border-top: 1px dashed rgba(0, 0, 0, 0.12);
    }

    .title-price {
        margin: 16px 0 12px 0;
    }

    .group-price {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .tabs {
            width: 40px;
            height: 20px;
            background-color: #ccc;
            border-radius: 10px;
            position: relative;
            cursor: pointer;
            transition: background-color 0.3s ease;

            &::before {
                content: '';
                position: absolute;
                width: 16px;
                height: 16px;
                background-color: white;
                border-radius: 50%;
                top: 2px;
                left: 2px;
                transition: transform 0.3s ease;
            }

            &.active {
                background-color: #2dc275;
            }

            &.active::before {
                transform: translateX(20px);
            }
        }
    }

    .genre-title {
        margin: 16px 0 12px 0;
    }

    .list-genre {
        display: flex;
        align-items: center;
        gap: 5px;
        margin-top: 16px;

        .genre {
            display: flex;
            height: 32px;
            padding: 4px 14px;
            align-items: center;
            border-radius: 16px;
            font-size: 14px;
            font-weight: 400;
            line-height: 21px;
            border: 1px solid #a6a6b0;
            background: #fff;
            color: #27272a;
            margin-inline-end: unset;
            cursor: pointer;

            &:hover {
                color: #1677ff;
                background-color: rgba(0, 0, 0, 0.06);
            }

            &.checked {
                border: 1px solid #2dc275;
                background: #2dc275;
                color: #fff;

                &:hover {
                    color: #fff;
                    background: #2dc275;
                }
            }
        }
    }

    .list-action {
        display: flex;
        gap: 10px;
        margin-top: 16px;

        .btn {
            border-radius: 4px;
            font-weight: 400;
            font-family: Inter;
            font-size: 16px;
            line-height: 24px;
            min-width: 88px;
            padding: 0px 24px;
            height: 40px;
            display: flex;
            align-items: center;
            justify-content: center;
            border: none;
            width: 100%;
            outline: none;
            cursor: pointer;
            white-space: nowrap;
        }

        .btn_reset {
            background: transparent;
            color: rgb(45, 194, 117);
            border: 1px solid rgb(45, 194, 117);
        }

        .btn_apply {
            background: rgb(45, 194, 117);
            color: rgb(255, 255, 255);

            &:hover {
                background: rgb(35, 168, 100);
            }
        }
    }
}