.banner {
    position: relative;
    margin: 0px 5px;
    padding: 0 5px;
    border-radius: 12px;
    height: 343px;
    background: rgb(81, 81, 88);

    .slider-image {
        border-radius: 10px;
        object-fit: contain;
        inset: 0px;
        overflow: hidden;
        position: absolute;
        user-select: none;
        z-index: 1;
        width: 100%;
    }
}
