.wrapper {
    margin-left: auto;
    margin-right: auto;
    background: #000000;
    width: 100% !important;
    max-width: 100% !important;
    font-family: Inter, sans-serif;
    font-weight: normal;
    color: rgb(42, 45, 52);
    font-size: 14px;

    .container {
        display: flex;
        justify-content: space-between;
        column-gap: 1rem;

        .content_left {
            flex-grow: 1;

            .title_page {
                font-weight: bold;
                padding-left: 2rem;
                margin-bottom: 32px;
                padding-top: 16px;
                position: relative;
                color: rgb(45, 194, 117);
                cursor: pointer;

                .header {
                    font-size: 16px;
                    padding-top: 16px;
                    position: relative;
                    color: rgb(45, 194, 117);
                    padding-left: 1.2rem;

                    .icon {
                        cursor: pointer;
                        position: absolute;
                        left: 0.75rem;
                        display: flex;
                        gap: 0.5rem;
                        justify-content: center;
                        align-items: center;
                    }

                    .content {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        cursor: default;
                        color: rgb(45, 194, 117);
                    }
                }
            }

            .tbox-row {
                display: flex;

                .tbox_col_lg_2 {
                    flex: 0 0 16.6667%;
                    max-width: 16.6667%;
                    padding-left: 12px;
                    padding-right: 12px;
                }

                .tbox_col_lg_8 {
                    flex: 0 0 66.6667%;
                    max-width: 66.6667%;
                    padding-left: 12px;
                    padding-right: 12px;
                    color: white;

                    .header {
                        padding: 10px 0px;
                        display: flex;
                        font-weight: bold;

                        .title {
                            flex: 0 0 66.6667%;
                            max-width: 66.6667%;
                            padding-left: 12px;
                            padding-right: 12px;
                        }

                        .quantity {
                            flex: 0 0 33.3333%;
                            max-width: 33.3333%;
                            padding-left: 12px;
                            padding-right: 12px;
                            text-align: right;
                        }
                    }

                    .content {
                        .item {
                            padding: 20px 0px;
                            border-bottom: 1px dashed rgb(128, 128, 137);
                            display: flex;

                            .event {
                                flex: 0 0 75%;
                                max-width: 75%;
                                padding-left: 12px;
                                padding-right: 12px;

                                .name {
                                    color: rgb(45, 194, 117);
                                    font-weight: 700;
                                }

                                .description {
                                    color: rgb(255, 255, 255);
                                }
                            }

                            .wrapper_quantity {
                                flex: 0 0 25%;
                                max-width: 25%;
                                padding-left: 12px;
                                padding-right: 12px;
                                display: flex;
                                align-items: center;
                                justify-content: flex-end;

                                .control_quantity {
                                    display: flex;
                                    gap: 3px;
                                    justify-content: flex-end;

                                    .btn {
                                        border: 1px solid rgba(0, 0, 0, 0.05);
                                        background: rgb(245, 245, 250);
                                        color: rgba(0, 0, 0, 0.88);
                                        border-radius: 4px;
                                        font-size: 14px;
                                        line-height: 1.5714285714285714;
                                        padding: 4px 15px;
                                    }

                                    .btn_minus,
                                    .btn_plus {
                                        border-radius: 4px;
                                        color: rgb(45, 194, 117);
                                        border-color: rgb(45, 194, 117);
                                    }

                                    .disabled {
                                        cursor: not-allowed;
                                        color: rgba(0, 0, 0, 0.25);
                                    }

                                    input {
                                        min-width: 40px;
                                        max-width: 50px;
                                        text-align: center;
                                        border-width: 1px;
                                        padding: 4px 11px;
                                        color: rgba(0, 0, 0, 0.88);
                                        font-size: 14px;
                                        line-height: 1.5714285714;
                                        border-radius: 6px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

        .content_right {
            flex: 0 0 30%;
            max-width: 25rem;

            .content_desc {
                background: rgb(56, 56, 61);
                transition: 500ms;
                min-height: calc(-76px + 100vh);
                height: 100%;
                position: relative;
                color: rgb(255, 255, 255);

                .name {
                    display: flex;
                    flex-direction: row;
                    gap: 0.5rem;
                    justify-content: flex-start;
                    align-items: center;
                    padding: 0.75rem;
                    height: 48px;
                    overflow: hidden;
                    background: rgb(39, 39, 42);
                    font-size: 16px;
                }

                .description {
                    color: rgb(255, 255, 255);
                    padding: 0px 0.75rem;
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    position: relative;
                    transition: opacity 0.3s;

                    .date {
                        display: flex;
                        align-items: center;
                        padding: 12px 0;
                        gap: 5px;
                    }

                    .location {
                        display: flex;
                        align-items: center;
                        padding: 12px 0;
                        gap: 5px;
                    }
                }

                .separator {
                    margin: 12px auto;
                    border-block-start: 1px solid rgb(81, 81, 88) !important;
                    display: flex;
                    clear: both;
                    width: 100%;
                    min-width: 100%;
                }

                .price {
                    color: rgb(255, 255, 255);
                    padding: 0px 0.75rem;
                    width: 100%;

                    .header {
                        color: rgb(255, 255, 255);
                        font-weight: 600;
                        padding-block: 12px;
                    }

                    .content {
                        position: relative;
                        transition: opacity 0.3s;
                        margin-bottom: 150px;
                        min-height: 10vh;
                        height: max-content;
                        overflow-y: auto;
                        margin: 0;
                        padding: 0;
                        list-style: none;

                        .ticket {
                            display: flex;
                            align-items: center;
                            justify-content: space-between;
                            margin: 8px 0;

                            .ticket_name {
                                flex: 0 0 67%;
                                align-items: center;
                                display: inline-flex;
                            }

                            .ticket_price {
                                font-weight: 600;
                                font-size: 12px;
                                color: rgb(45, 194, 117);
                            }
                        }
                    }
                }
            }

            .bottom_booking {
                z-index: 999;
                bottom: 0px;
                transition: 500ms;
                background: rgb(39, 39, 42);
                position: fixed;
                top: calc(-110px + 100vh);
                width: 100%;
                max-width: 25rem;
                padding: 0.75rem 0px;

                .booking_container {
                    color: rgb(255, 255, 255);
                    padding: 0px 0.75rem;
                    width: 100%;

                    .ticket_quantity {
                        color: rgb(255, 255, 255);
                        gap: 0.5rem;
                        padding: 0.5rem 0px 0px;
                        min-height: 1.25rem;
                        height: auto;
                        display: flex;
                        -webkit-box-align: center;
                        align-items: center;
                    }

                    .btn_booking {
                        margin: 0.75rem 0px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        gap: 0.5rem;
                        width: 100%;
                        padding-block: 0.6rem;
                        border-radius: 0.25rem;
                        color: rgb(255, 255, 255);
                        font-size: 1em;
                        font-weight: bold;
                        transition: background-color 0.4s ease-in-out;
                        background-color: rgb(45, 194, 117);
                    }

                    .disabled {
                        cursor: not-allowed;
                        color: rgb(128, 128, 137);
                        background-color: rgb(221, 221, 227);
                    }
                }
            }
        }
    }
}

@media only screen and (min-width: 1024px) {
    .tbox-row {
        margin-left: -12px;
        margin-right: -12px;
    }
}

@media only screen and (min-width: 1440px) {
    .tbox-row {
        margin-left: -16px;
        margin-right: -16px;
    }
}
