.wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #272729;

    .tbox-container {
        width: 100%;

        .list_banner {
            position: relative;
            margin-top: 16px;
            color: rgb(42, 45, 52);
        }

        .event_special {
            margin-top: 18px;
            position: relative;

            .title {
                color: white;
                font-size: 16px;
                font-weight: 600;
                margin-bottom: 12px;
                margin-left: 5px;
            }

            .event_container {
                border-radius: 10px;
                padding-right: 5px;
            }
        }

        .event_hot {
            margin: 3.5rem 0px;
            position: relative;

            .title {
                display: flex;
                align-items: center;
                gap: 0.5rem;
                margin-bottom: 1rem;

                .label {
                    color: white;
                    font-size: 16px;
                    font-weight: 600;
                }
            }

            .list_event_hot {
                color: rgb(42, 45, 52);
                position: relative;
            }
        }

        .tabs_wrapper {
            margin-bottom: 40px;
            position: relative;

            .tablist {
                position: relative;
                display: flex;
                align-items: center;
                margin: 0 5px 16px 5px;

                .tab_container {
                    position: relative;
                    display: flex;
                    align-items: center;
                    flex: auto;
                    gap: 10px;

                    .tab {
                        padding: 8px 0px;
                        position: relative;
                        cursor: pointer;

                        .this_week,
                        .this_month {
                            font-size: 15px;
                            font-weight: 600;
                            color: rgb(235, 235, 240);
                            text-shadow: 0 0 0.25px currentcolor;
                            position: relative;
                            padding-bottom: 4px;

                            &::after {
                                content: '';
                                position: absolute;
                                left: 0;
                                bottom: -4px;
                                width: 100%;
                                height: 4px;
                                background-color: transparent;
                                border-radius: 2px;
                                transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
                                transform: scaleX(0);
                            }
                        }

                        .active::after {
                            background-color: #2bc275;
                            transform: scaleX(1);
                        }
                    }
                }

                .tab_extra {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: 5px;
                    line-height: 21px;
                    font-size: 14px;
                    font-weight: 400;
                    color: rgb(166, 166, 176);
                    cursor: pointer;
                    transition: color 0.3s ease-in-out;
                }

                .tab_extra:hover {
                    color: rgb(235, 235, 240);
                }
            }

            .tabs_content {
            }
        }

        .event_type_wrapper {
            margin-bottom: 40px;
            position: relative;

            .tablist {
                position: relative;
                display: flex;
                align-items: center;
                margin: 0 5px 16px 5px;
                justify-content: space-between;

                .this_week {
                    font-size: 15px;
                    font-weight: 600;
                    color: rgb(235, 235, 240);
                    text-shadow: 0 0 0.25px currentcolor;
                    position: relative;
                    padding-bottom: 4px;
                }

                .tab_extra {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: 5px;
                    line-height: 21px;
                    font-size: 14px;
                    font-weight: 400;
                    color: rgb(166, 166, 176);
                    cursor: pointer;
                    transition: color 0.3s ease-in-out;
                }

                .tab_extra:hover {
                    color: rgb(235, 235, 240);
                }
            }
            
            .tabs_content {
            }
        }
    }
}

@media only screen and (min-width: 1024px) {
    .tbox-container {
        max-width: 100vw;
        padding-left: 12px;
        padding-right: 12px;
    }
}

@media only screen and (min-width: 1440px) {
    .tbox-container {
        max-width: 1280px;
        padding-left: 16px;
        padding-right: 16px;
    }
}
